.hero_wrapper {
  height: auto;
  overflow: hidden;

  & .container {
    max-width: 1170px;
    margin: 0 auto;
  }

  & .hero_con {
    display: flex;
    justify-content: space-between;
    margin-top: 115px;
    margin-bottom: 68px;

    & .text_1 {
      font-size: 32px;
      margin-bottom: 15px;
    }
    & .text_2 {
      font-size: 50px;
      font-weight: bold;
      color: var(--primary-color);
    }
    & .text_3 {
      font-size: 32px;
    }
    & .text_4 {
      font-size: 16px;
      margin-top: 25px;
      max-width: 500px;
      text-wrap: wrap;
      text-align: justify;
      text-justify: inter-word;
    }

    & .hero_social {
      display: flex;
      list-style: none;
      margin-top: 25px;

      & li {
        margin-right: 10px;

        & svg {
          width: 32px;
          height: 32px;
          color: #333;
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
    & .hero_img {
      width: 300px;
      height: 300px;
      border-radius: 100%;
      background-image: url("https://i.postimg.cc/rsC6bMf4/20231121-122421.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 40px;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero_wrapper {
    height: auto;

    & .hero_con {
      flex-direction: column-reverse;
      margin: 50px 0;
      padding: 20px;

      & .hero_info {
        width: 100%;
      }
      & .hero_img {
        margin: 0 auto;
      }

      & .hero_social {
        justify-content: center;
      }
      & .text_1 {
        margin-top: 20px;
        text-align: center;
      }

      & .text_2 {
        text-align: center;
      }
      & .text_3 {
        text-align: center;
      }
      & .text_4 {
        margin: 15px auto;
      }
    }
  }
}
