.port_con {
  max-width: 1170px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;

  & .port_title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 45px;
    text-align: center;
  }

  & .port_list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);

    & .port_subitems {
      display: flex;
      justify-content: space-around;
    }

    & .port_items {
      margin-top: 60px;

      & img {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        object-fit: cover;
      }

      & p {
        font-size: 16px;
        font-weight: bold;
        margin: 10px 0;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  & .port_list {
    grid-template-columns: repeat(2, 1fr) !important;
    padding: 20px;
  }
}

@media screen and (max-width: 649px) {
  .port_con {
    height: auto;
    margin: 30px 0;

    & .port_list {
      grid-template-columns: 1fr !important;
      padding: 0 !important;

      & .port_items {
        width: 100%;

        & img {
          width: 100%;
        }
      }
    }
  }
}
