.gitbtn_link {
  text-decoration: none;
  color: var(--primary-color);

  &:hover {
    color: #0000a2;
  }
}
.gitbtn_list {
  list-style-type: none;

  & a {
    color: var(--primary-color);
    text-decoration: none;

    &:hover {
      color: #0000a2;
    }
  }
}
